In [1]:
import pandas as pd
import pygame as py

pygame 2.5.2 (SDL 2.28.3, Python 3.12.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [140]:
data = pd.read_csv('player_data.csv')

In [76]:
data.to_csv('player_data.csv')

In [141]:
data

,Unnamed: 0,index,Name,Password,Balance,Pet,Hunger,Happiness,energy
0,0,0,Frank,oldstyle,1000,Dog,50,50,50
1,1,1,Monica,iluvIan,1000,Cat,50,50,50
2,2,2,Barry,barry123,1000,Chicken,50,50,50

In [66]:
name = "Braedon"
player_id = data[data['Name'] == name].index[0]
player_id

4

In [67]:
data.loc[player_id]['Password']

'brae123'

In [77]:
data.loc[data['index'] == 1].iloc[0]

index              1
Name          Monica
Password     iluvIan
Balance         1000
Pet              Cat
Hunger             0
Happiness          0
energy             0
Name: 1, dtype: object

In [75]:
data['Balance'] = [1000, 1000, 1000]
data['Pet'] = ['Dog', 'Cat', 'Chicken']
data['Hunger'] = [0, 0, 0]
data['Happiness'] = [0, 0, 0]
data['energy'] = [0, 0, 0]

In [137]:
import random
option = random.randint(1, 10)

In [138]:
import random

if option == (1 or 2 or 3):
    print("3/10")
elif option == 10:
    print("1/10")
else:
    print("6/10")

3/10

In [139]:
data

   index    Name  Password  Balance      Pet  Hunger  Happiness  energy
0      0   Frank  oldstyle     1000      Dog       0          0       0
1      1  Monica   iluvIan     1000      Cat       0          0       0
2      2   Barry  barry123     1000  Chicken       0          0       0