In [142]:
import pandas as pd
import pygame as py

In [179]:
data = pd.read_csv('player_data.csv')

In [147]:
data.to_csv('player_data.csv')

In [141]:
data

,Unnamed: 0,index,Name,Password,Balance,Pet,Hunger,Happiness,energy
0,0,0,Frank,oldstyle,1000,Dog,50,50,50
1,1,1,Monica,iluvIan,1000,Cat,50,50,50
2,2,2,Barry,barry123,1000,Chicken,50,50,50

In [144]:
data['Pet_Name'] = ['Frankie', 'Lucy', 'BM0']

In [181]:
ask_name = "Braedon"
name_index = data[data['Name'] == ask_name].index[0]
name_index

3

In [176]:
print(data[data['Name'] == ask_name])

   index     Name Password  Balance     Pet     Hunger  Happiness     energy  \
3    3.0  Braedon  brae123      500  Dragon -173972710 -173972613 -173972790

    Pet_Name
3  Cornelius

In [177]:
data['Name']

0      Frank
1     Monica
2      Barry
3    Braedon
4     Kimrey
Name: Name, dtype: object

In [178]:
len(data)

5